
.top-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .2px .4px;
}

.semi-top-form{
    -fx-background-color:#efefef;
    -fx-border-color:#000;
    -fx-border-width:0px .4px .8px .4px;
}

.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.close:hover{
    -fx-background-color:#dd4763;
}

.minimize{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.minimize:hover{
    -fx-background-color:#ddd;
}

.nav-form{
     -fx-background-color: linear-gradient(to bottom, #374955, #222222);
}

.nav-btn{
    -fx-background-color:#222222;
    -fx-background-radius: 8px;
    -fx-text-fill: white;
    -fx-font-size:15px;
    -fx-cursor:hand;
    -fx-font-family:"Arial";
    -fx-alignment: CENTER_LEFT;
   
}

.logout-btn{
    -fx-background-color:transparent;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    
}
.logout-btn:hover{
    -fx-background-color:#5e87ee;
}

.white-bg{
    -fx-background-color:#fff;
    -fx-background-radius:5px;
}

.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.4), 5,0,0,0);
}

.card1{
    -fx-background-color: linear-gradient(to bottom, #374955, #222222);
    -fx-background-radius:8px;
}

.card2{
    -fx-background-color: linear-gradient(to bottom, #374955, #222222);
    -fx-background-radius:8px;
}
.card3{
    -fx-background-color: linear-gradient(to bottom, #374955, #222222);
    -fx-background-radius:8px;
} 

.textfield{
    -fx-background-color:transparent;
    -fx-border-color:#000;
    -fx-font-family:"Tahoma";
    -fx-font-size:13px;
    -fx-border-radius:10px 5px 10px 5px;
    -fx-border-width:.8px;
}
.textfield:focused{
    -fx-border-color:linear-gradient(to bottom, #374955, #222222);
    -fx-border-width:3px;
}

.combobox{
    -fx-background-color:transparent;
    -fx-border-color:#000;
    -fx-font-family:"Tahoma";
    -fx-font-size:13px;
    -fx-border-radius:10px 5px 10px 5px;
    -fx-border-width:.8px;
}
.combobox:focused{
    -fx-border-color:linear-gradient(to bottom, #374955, #222222);
    -fx-border-width:1.8px;
}

.date{
    -fx-background-color:transparent;
    -fx-border-color:#000;
    -fx-font-family:"Tahoma";
    -fx-font-size:13px;
    -fx-border-width:.8px;
}
.date:focused{
    -fx-border-color:linear-gradient(to bottom, #374955, #222222);
    -fx-border-width:1.8px;
}

.add-btn{
    -fx-background-color: #3b9b50;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
}
.add-btn:hover{
    -fx-cursor: hand;
    -fx-background-color: #006633;
}

.update-btn{
    -fx-background-color: #1660e2;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
}
.update-btn:hover{
    -fx-cursor: hand;
    -fx-background-color: #000066;
}

.reset-btn{
    -fx-background-color: #f0c03e;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
}
.reset-btn:hover{
    -fx-cursor: hand;
    -fx-background-color: #c67e0f;
}

.delete-btn{
    -fx-background-color: #bf3e3e;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
}
.delete-btn:hover{
    -fx-cursor: hand;
    -fx-background-color: #660000;
}

.search{
    -fx-background-color:transparent;
    -fx-border-color:#000;
    -fx-font-family:"Tahoma";
    -fx-font-size:13px;
    -fx-border-radius:10px 5px 10px 5px;
    -fx-border-width:.8px;
    -fx-padding:0px 0px 0px 28px;
}
.search:focused{
    -fx-border-color:linear-gradient(to bottom, #374955, #222222);
    -fx-border-width:1.8px;
}

.table-view{
    -fx-border-color:linear-gradient(to bottom, #374955, #222222);
    -fx-padding:0px;
    -fx-border-radius:8px;
    -fx-border-width:2px;
}

.table-view .table-column{
    -fx-alignment: CENTER;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #374955, #222222);
    -fx-background-insets: 0 0 0 0;
}
.table-view .column-header, .filter{
    -fx-background-color:transparent;
    -fx-size:50px;
}
.table-view .column-header .label{
    -fx-text-fill:#fff;
}

.info-card{
    -fx-background-color: linear-gradient(to bottom, #374955, #222222);
    -fx-background-radius:0px 5px 5px 0px;
}

.io-textfield{
    -fx-background-color:#fff;
    -fx-background-radius:5px;
    -fx-font-family:"Tahoma";
    -fx-font-size:13px;
}

.select-btn{
    -fx-background-color: #3b9b50;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-text-fill: #fff;
}
.select-btn:hover{
   -fx-cursor: hand;
    -fx-background-color: #006633;
}

.io-reset-btn{
    -fx-background-color: #f0c03e;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-text-fill: #fff;
}
.io-reset-btn:hover{
     -fx-background-color: #c67e0f;
     -fx-cursor: hand;
}

.label-info{
    -fx-border-color: black;
    -fx-border-radius: 8px;
    -fx-font-size:14px;
    -fx-font-family:"Tahoma";
    -fx-border-width:1px;
    -fx-padding:0px 0px 0px 10px;
}

.receipt-btn{
    -fx-background-color: #1660e2;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-text-fill: #fff;
}
.receipt-btn:hover{
    -fx-cursor: hand;
    -fx-background-color: #000066;
}


